<h3>How does this work?</h3>
<h5>Simple reminders are a tweet away</h5>
<p>Tweet things you want to remind yourself every day. We'll email you twice a day to make sure you get what you want done. Finished a task? Come back here to check it off. We'll only email you if there is something left on your list.</p>

<div class="website group">
  <div>
    <h3>Step 1</h3>
    <h5>Login</h5>
    <p>Simply login here (via twitter). You'll need your own twitter account for this to work.</p>
  </div>

  <div>
    <h3>Step 2</h3>
    <h5>Register an email address</h5>
    <p>Let us know where you want your reminders to be sent to.</p>
  </div>
</div>

<div class="website group">
  <div>
    <h3>Step 3</h3>
    <h5>Timezone check</h5>
    <p>Verify your timezone so that we can email you at 8am and 8pm. These times are the most optimal for reminders.</p>
  </div>

  <div>
    <h3>Step 4</h3>
    <h5>Start tweeting!</h5>
    <p>Tweet a message including @plsremindme in the message, or send a direct message to @plsremindme.</p>
  </div>
</div>
